<h1>Welcome to your dashboard</h1>
{{#if folders}}
	<div id="folderContainer">
	{{#each folders}}
		<div class="folder">
			<h3>{{this.name}}</h3>
		</div>
	{{/each}}
	</div>
{{/if}}
<h2>Create a new folder by using the form below.</h2>
{{#if error}}
	<h3 class="errorMsg">{{error}}</h3>
{{/if}}
<form method="post" action="/dashboard">
	Folder name: <input type="text" name="folderName" />
	<input type="submit" value="Submit" />
</form>
