<section class="container text-center pt-4">
	<a href="/logout" class="btn btn-link">Click here to logout</a>
	<h1 class="display-4">Welcome to your dashboard</h1>
	{{#if folders}}
		<div id="folderContainer">
		{{#each folders}}
			<a class="folder card text-white bg-primary mb-3" id="{{this._id}}" href="/folders/{{this._id}}">
				<div class="card-body">
					<img src="/img/folder.png" />
					<h3 class="card-title">{{this.name}}</h3>
				</div>
			</a>
		{{/each}}
		</div>
	{{/if}}
	<h2>Create a new folder by using the form below.</h2>
	{{#if error}}
		<h3 class="errorMsg">{{error}}</h3>
	{{/if}}
	<form method="post" action="/dashboard" class="form-inline">
		<div class="form-row align-items-center mx-auto">
			<div class="col-auto">
					<label>Folder name:</label>
			</div>
			<div class="col-auto">
				<input type="text" class="form-control" name="folderName" />
			</div>
			<div class="col-auto">
				<input type="submit" class="btn btn-success" value="Submit" />
			</div>
		</div>
	</form>
</section>
<!--<script src="js/dashboard.js"></script>-->