<section id="main">
	<h1>Encrypted Password Storage</h1>
	<h2>Never forget your passwords again.</h2>
	<form action="/" method="post">
	Enter your private key here: <input type="text" name="key" />
	<input type="submit" value="Get Access" />
	</form>
	New User? Simply enter a key that you'd like to use above and click "Get Access." Write it down!
</section>