#folderContainer{
	width:800px;
	margin:20px auto;
}

#folderContainer .folder{
	display:inline-block;
	margin:0 20px;
	width:250px;
	height:150px;
	border:1px solid lightgrey;
	text-align:center;
}

#folderContainer .folder:hover{
	cursor:pointer;
}

.errorMsg{
	color:red;
}